.hero {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #71C562, #e1ffea22 60%);
}

.hero-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 15%;
    line-height: 1.1;
}

.hero-left h1 {
    color: #333;
    font-size: 100px;
    font-weight: 600;
    margin: 25px 0px;
}


.hero-left p {
    color: #333;
    font-size: 30px;
    font-weight: 300;
    margin: 25px 0px;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 300px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #71C562;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 500px;
    height: 500px;
}